<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMapper">

  <select id="selectOne" resultType="com.hwkim.mvc05.vo.BookVo">
    select * from BOOK where title = #{title}
  </select>
  
  <select id="selectAll" resultType="com.hwkim.mvc05.vo.BookVo">
  	select * from BOOK ORDER BY title asc
  </select>
  
  <insert id="insert" >
  	insert into BOOK(title, publisher, writer, price)
  	values( #{title}, #{publisher}, #{writer}, #{price} )
  </insert>

  <update id="update" >
  	update BOOK
  	set publisher=#{publisher}, writer=#{writer}, price=#{price}
  	where title=#{title}
  </update>
  
  <delete id="delete">
  	delete from BOOK where title = #{title}
  </delete>
  
</mapper>


